<tr>
  <% product = Product.find(product_id) %>
  <td>
    <img src="<%= product.image %>" width="100px"/>
    <br>
  </td>
  <td>
    <h5><%= product.name %></h5>
    <br>
  </td>
  <td>
    <small><%= product.description %></small>
  </td>
  <td>
    <%= humanized_money_with_symbol item_price / 100.00 %>
  </td>
  <td>
    <div>
    <%= quantity %>
    </div>
  </td>
  <td>
    <%= humanized_money_with_symbol (item_price * quantity) / 100.00 %>
  </td>
</tr>